/* Ajoutez des styles pour le tableau */
table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-left:10%;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Style pour les boutons */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
